Repository jolibrain/wheatley, pull requests merged in 2023-11, with the labels that each got.

#78 chore(psp): add graphgym test
  tests/test_psp.py
Labels: ci:tests

#81 chore(ml): GAE is off by default (lambda = 1.0)
  args.py
  tests/test_jssp.py
  tests/test_psp.py
Labels: rl:algorithm, jssp, rcpsp

#62 Docs: an updated version
  README.md
  docs/ADVICE.md
  docs/JSSP.md
  docs/USAGE.md
Labels: documentation

#90 docs: psp training command and removed old USAGE.md
  docs/PSP.md
  docs/USAGE.md
Labels: documentation, ci:skip-tests
